h1 {
    color:white;
    text-align: center;
    display: block;
    
     
}
body html {
    height: 100%;
    
    
}
.container {
    
    
    background-color: lightslategray; 
    text-align: center;
    font-family: sans-serif;
    

}
button {
    background-color: greenyellow;
}
h4 {
    color: maroon;
    
    
}

input {
    color: maroon;
    scroll-padding-left: 5mm;
}

.names {
    font-style: initial;
}

.history {
    text-align: left;
    
}
.header {
    
    height: 60px;
    background: #003366;
    padding: 0px;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
 
}

.history h5 {
    font-size: large;
}
  
.history h3 {
    font-weight: bold;
}
.nav p {
    font-size: large;
    padding-left: 20mm;
    padding-right: 20mm;
    padding-top: 5mm;
    padding-bottom: 5mm;
    text-align: center;
    
    
    
}


    